.sidebar {
  left: -8rem;
  width: 8rem;
}
.sidebar.on {
  left: 0;
}
.content.on {
  margin-left: 0 !important;
}
.navbar-toggle {
  left: 9.5rem;
}
.search-form-wrap {
  right: 8rem;
}
@media (min-width: 95rem) {
  .outer,
  .wrap {
    width: 95rem !important;
  }
}
@media (max-width: 95rem) {
  .tocbot {
    display: none !important;
  }
}
